.pagination_btn {
    display: flex;
    justify-content: center;
    list-style-type:none;
    column-gap: 25px;
    color: black;
}
.selected_page {
    text-decoration: underline;
    background-color:blue;
    color: white;
}
@media  screen and (min-width :200px) {
   
   .pagination_btn {
    position: relative;
    left: 20px;
   }
   }
   @media  screen and (max-width :258px) {
   
    .pagination_btn {
     position: relative;
     left: -20px;
    }
    }