  /* Section One*/
.row_select {
    background-color:#f2f2f2 ;
}
th { background: rgb(0, 187, 255)}
table {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font: normal 12px arial; 
        width: 100%;
        margin-top: 55px;
}
td, th { border: 1px solid #cdcdcd; padding: 2px; word-wrap: break-word;}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
        /* Section three*/
                table, thead, tbody, th, td, tr { 
                        display: block;
                        /* margin-left: 50px;
                        margin-right: 50px;  */
                }
                /* Section four*/
                thead tr { 
                        position: absolute;
                        top: -9999px;
                        left: -9999px;
                }
                
                tr { border-bottom: 1px solid #ccc; }
/* Section five*/
                td { 
                     border: none;
                     border-bottom: 1px solid #eee; 
                     position: relative;
                     padding-left: 50%; 
                }
                td:before { 
                        position: absolute;
                        top: 3px;
                        left: 6px;
                        width: 45%; 
                        padding-right: 10px; 
                        white-space: nowrap;
                        font-weight: bold;
                }
                /* Section six*/

                td:nth-of-type(1):before { content: "checkbox"; }
                td:nth-of-type(2):before { content: "Name"; }
                td:nth-of-type(3):before { content: "Email"; }
                td:nth-of-type(4):before { content: "Role"; }
                td:nth-of-type(5):before { content: "Action Buttons"; }
}

/* Section seven*/
        @media only screen
        and (min-device-width : 320px)
        and (max-device-width : 480px) {
                body { 
                        padding: 0; 
                        margin: 0; 
                        width: 320px; }
                }
/* Section eight*/
        @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
                body { 
                        width: 495px; 
                }
        }

.edit_btn {
    background-color: rgba(0, 128, 58, 0.806);
    position: relative;
    left: 20px;
}
.delete_btn {
    background-color: rgba(255, 0, 0, 0.557);
    position:relative;
    left: 30px;
}
.delete_all {
    background-color:rgba(255, 0, 0, 0.557);
    margin-top: 15px;
}