
table {
    width: 100%;
    border: 1px solid black;
    margin-right: 15px;
    border-collapse: collapse;
    word-break: break-all;
}
thead {
    width: 100%;
    border: 1px solid black;
    margin-right: 15px;
}
 td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
.row_select {
    background-color:#f2f2f2 ;
}

.delete_all {
    margin: 15px;
    background-color: red;
    border-radius: 4px;
    padding: 5px;
    width: 12vw;
}
button:hover {
    cursor: pointer;
}
.loading_text {
    text-align: center;
}
.edit_btn {
    margin-right: 15px;
    padding: 5px;
    width: 5vw;
    background-color: rgba(0, 128, 0, 0.684);
    border-radius: 4px;
}
.delete_btn {
    margin-left: 15px;
    padding: 5px;
    width: 6vw;
    background-color: rgba(255, 0, 0, 0.647);
    border-radius: 4px;
    word-break: break-all;
}
.nothing_found_text {
    text-align: center;
}
.error_text {
    text-align: center;
}

@media screen and (max-width: 480px) {
    .responsive thead {
        visibility: hidden;
        height: 0;
        position: absolute;
    }
    .responsive tr {
        display: block;
        margin-bottom: .625em;
    }
    .responsive td {
        border: 1px solid;
        border-bottom: none;
        display: block;
        font-size: .8em;
        text-align: right;
      }
      .responsive td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      .responsive td:last-child {
        border-bottom: 1px solid;
      }
      .delete_all {
        word-break: break-all;
      }
      table {
        position: relative;
        top: 45px;
        margin-top: 5px;
      }
      .edit_btn {
        width: 100px;
      }
      .delete_btn {
        width: 100px;
      }
      .delete_all {
        position: relative;
        top:55px;
      }
}

@media  screen and (max-width :875px) {
    .delete_btn {
        width: 100px;
    }
    table {
        position: relative;
        top: 45px;
    }
    .delete_all {
        position: relative;
        top: 55px;
    }
}
@media  screen and (max-width :739px) {
    .edit_btn {
        width: 100px;
    }
}
@media  screen and (max-width :704px) {
   td {
    word-wrap: break-word;
   }
}
@media  screen and (min-width :876px) {
  table {
    position: relative;
    top: 55px;
  }
  .delete_all {
    position: relative;
    top: 55px;
  }
 }
 @media  screen and (min-width :200px) {
   
    .delete_all {
        width: 80px;

    }
   }
   @media  screen and (max-width :367px) {
   
    .delete_all {
        width: 80px;
        position: relative;
        top: 100px;
        left: 150px;

    }
   }
   @media  screen and (max-width :258px) {
   
    .delete_all {
        width: 80px;
        position: relative;
        top: 100px;
        left: 65px;

    }
   }